* {
    margin: 0;
    padding: 0;
    font-family: Montserrat;
    font-style: normal;
}

.wrapper {
    align-items: center;
    width: 100%;
    margin: auto;
    padding: auto;
    text-align: center;
}

.nav {
    position: fixed;
}

.header_i {
    align-items: center;
    width: 100%;
    position: fixed;
    padding: auto;
}

.title_header {
    font-size: 4vw;
    color: white;
    margin-left: auto;
    margin-right: auto;
}


#smaller_title {
    font-size: 2vw;
    color: white;
    font-weight: bold;
    margin-bottom: 20px;
}

.input {
    bottom: 0; 
    padding-bottom: 4%;
    width: 100%;
    position: fixed;
    margin: 20%;
    margin-left: auto;
    margin-right: auto;
}

#input_field {
    padding: 10px;
    font-family: Montserrat;
    border-radius: 15px;
    width: 600px;
    height: 40px;
    font-size: 1.25rem;
}

#submit_btn {
    width: 150px;
    height: 40px;
    padding: 20px;
    padding-bottom: 35px;
    border-radius: 10px;
    border: 0;
    font-family: Montserrat;
    background-color: #cdb4db;
    font-size: 1rem;
}

#submit_btn .hover  {
   background-color: #773b9a;
}


/* ---------- animation ------------- */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  padding: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.title {
  font-size: 5vw;
  color: white;
  width: 100%;
}

canvas {
  width: 100%;
}